
.contact{
  &__info{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    text-align: center;
    align-items: center;
  }
  &__box{
    padding:1rem;
    text-align: center;
  }
}

.icon{
  font-size: 2.5rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid black;
}
.wrapper{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap-reverse;
  align-items: center;
}
.formInput{
  width:20rem;
  outline-color: black;
}
.formBtn{
  padding:0.3rem 2rem;
  border:1px solid black;
  outline:none;
  background-color: white;
  cursor: pointer;
  transition:all .4s;
  &:hover{
    background-color: black;
    color:white;
  }
}

.formLink{
  color:black;
  outline:none;
  &:hover{
    color:#508dc4;
  }
}