@import "../../../config/_variables";

.hero {
	background:inherit;
	color: #000;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 6rem 5rem;
	text-align: center;
	h1 {
		margin-bottom: 0 !important;
		font-size: 3em;	
		text-transform: capitalize;
	}
	h2 {
		display: inline-block;
		padding-top: 1em;
		position: relative;
		text-transform: capitalize;
			
	}
	h2:after {
		content: "";
		display: block;
		position: absolute;
		background-color: $brand-secondary;
		height: 8px;
		width: 105%;
		left: 50%;
		bottom: -2px;
		transform: translateX(-50%);
  		z-index: -2;
	}
}
